<launch>
<!--include file="$(find gazebo_ros)/launch/empty_world.launch"/>
<include file="$(find exmpl_models)/launch/add_glennan_2nd_flr.launch"/>
<include file="$(find mobot_urdf)/launch/mobot_w_lidar.launch"/!-->
 <!--arg name="map_file" default="$(find exmpl_models)/glennan_2nd_flr/glennan_2nd_flr_model_map.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/-->
<node name="my_mobot_pub_des_state" pkg="my_mobot" type="my_mobot_pub_des_state"/>
<node name="my_open_loop_controller" pkg="my_mobot" type="my_open_loop_controller"/>
<node name="my_mobot_lidar_alarm" pkg="my_mobot" type="my_mobot_lidar_alarm"/>	
<node name="my_mobot_lidar_detecting" pkg="my_mobot" type="my_mobot_lidar_detecting"/>	
<node name="glennan2_client" pkg="kvc2_amcl_steering" type="glennan2_client"/>
	

</launch>
